body {
    background-color: aquamarine;
}

h1{
    color:blue
    font-size: 50px;
}

.principal{
    background-color: rgb(162, 156, 149);
    font-size: 30px;
}
#Cristiano.jpg{
    width:80%;
    border-radius: 25%;
    margin-right: 30%;
    vertical-align: middle;
    
}
#cris{
    margin-left: 70%;
    width: 25%;
    border-radius: 20px;
    vertical-align: top;
}